html { box-sizing: border-box; }
*, ::before, ::after { box-sizing: inherit; margin: 0; padding: 0; }

body {
    height: 100vh;
    overflow: hidden;

    @media screen and (max-width: 1200px) {
       
        overflow: scroll;
        display: block;
    }

    display: grid;
    place-content: center;
    justify-items: center;
}

.container {
    display: flex;
    width: 100vw;
   
    @media screen and (max-width: 1200px) {
       display: block;
    }
        
}

.panel {
    flex: 1;
    height: 80vh;

    margin: 10px;
    border-radius: 50px;
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;

    //pozicování h3

    position: relative;


    //vysouvání aktivního panel
    transition: flex 0.7s ease-in;

    @media screen and (max-width: 1200px) {
      
        height: 10vh;
        background-size: 100% auto;     
        transition: height 0.7s ease-in;
      }

    &--kost {
        background-image: url("/images/kost.webp");
    }

    &--kost2 {
        background-image: url("/images/kost2.webp");
    }

    &--mumlava {
        background-image: url("/images/mumlava.webp");
    }

    &--mumlava3 {
        background-image: url("/images/mumlava3.webp");
    }
    
    &--stola {
        background-image: url("/images/stola.webp");
    }

    &--harrachov {
        background-image: url("/images/harrachov.webp");
    }

    &--tanky {
        background-image: url("/images/tanky.webp");
    }

    &--tanky2 {
        background-image: url("/images/tanky2.webp");
    }

    &--iq {
        background-image: url("/images/iq.webp");
    }

    &--iq2 {
        background-image: url("/images/iq2.webp");
    }

    &__title {
    
       font-size: 24px; 
       color: white;
   
       opacity: 0;

       position: absolute;
       bottom: 20px;
       left: 20px;

       @media screen and (max-width: 1200px) {
            font-size: 16px;
            bottom: 10px;
            left: 30px;
           
       }

       
    }

    &--active h3 {
        opacity: 1;
        transition: opacity 0.3s ease-in 0.4s;
       }

     &--active {
        flex: 10;

        @media screen and (max-width: 1200px) {
            height: 30vh;     
        
       }
    }
}

